<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521383375097-cddmc1goeunk52edl6737nfe7p6ah8au.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521383375097-cddmc1goeunk52edl6737nfe7p6ah8au</string>
	<key>API_KEY</key>
	<string>AIzaSyAucbIQj7efeNlqqrD8LbGlMy2oXGtWvsY</string>
	<key>GCM_SENDER_ID</key>
	<string>521383375097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.niftiLocapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nifti-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nifti-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521383375097:ios:7ec31db2ea5fe86a553228</string>
</dict>
</plist>